doctype html
html
    head
        title= "Pegas"
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
        link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel="stylesheet", type="text/css", href="css/page.css")
        script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
        script(crossorigin, src="https://unpkg.com/react@17/umd/react.development.js")
        script(crossorigin, src="https://unpkg.com/react-dom@17/umd/react-dom.development.js")
        script(src="https://unpkg.com/@babel/standalone/babel.min.js")
        script(type="text/babel", src="js/home.js")
        script(type="text/babel", src="js/wallet.js")
        script(type="text/babel", src="js/pegatable.js")
        script(type="text/babel", src="js/pega.js")
        script(type="text/babel", src="js/pegastats.js")
        script(type="text/babel", src="js/outlook.js")
    body
        #content.ui.container
            h1.ui.header(style="padding-top: 3em") Pega Summary
            #polygonWallet
            .ui.hidden.divider
            #pegaStats
            .ui.hidden.divider
            #pegaOutlook.ui.grid
            .ui.hidden.divider
            #pegaTable
            .ui.grid
                #pegas.ui.two.column.row
                    .column
                        #males.ui.one.cards
                    .column
                        #females.ui.one.cards