.tableFilters .checkbox {
    margin-top: 0.5em !important;
}

table.pegalist thead th:hover {
    cursor: pointer;
}

table.pegalist a {
    color: inherit;
}

table.pegalist .mars.icon {
    color: #aec6cf;
}
table.pegalist .venus.icon {
    color: #FAA0A0;
}


#pegaOutlook a {
    color: inherit;
}

#pegaOutlook .heart {
    margin-left: 0.25rem;
}

#pegaOutlook .content {
    text-align: center;
}